<section class="page-section bg-light" id="portfolio">
  <div class="container">
    <div class="text-center">
      <h2 class="section-heading text-uppercase">{{ content.field_portfolio_heading }}</h2>
      <h3 class="section-subheading text-muted">{{ content.field_portfolio_sub_heading }}</h3>
    </div>
    <div class="row">
      <div class="col-lg-4 col-sm-6 mb-4">
        <div class="portfolio-item">
          <a class="portfolio-link" data-toggle="modal" href="#portfolioModal1">
            <div class="portfolio-hover">
              <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
            </div>
            {{ content.field_portfolio_img1 }}
          </a>
          <div class="portfolio-caption">
            <div class="portfolio-caption-heading">{{ content.field_threads }}</div>
            <div class="portfolio-caption-subheading text-muted">{{ content.field_illustration }}</div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 mb-4">
        <div class="portfolio-item">
          <a class="portfolio-link" data-toggle="modal" href="#portfolioModal2">
            <div class="portfolio-hover">
              <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
            </div>
            {{ content.field_portfolio_img2 }}
          </a>
          <div class="portfolio-caption">
            <div class="portfolio-caption-heading">{{ content.field_explore }}</div>
            <div class="portfolio-caption-subheading text-muted">{{ content.field_graphic_design }}</div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 mb-4">
        <div class="portfolio-item">
          <a class="portfolio-link" data-toggle="modal" href="#portfolioModal3">
            <div class="portfolio-hover">
              <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
            </div>
            {{ content.field_portfolio_img3 }}
          </a>
          <div class="portfolio-caption">
            <div class="portfolio-caption-heading">{{ content.field_finish }}</div>
            <div class="portfolio-caption-subheading text-muted">{{ content.field_identity }}</div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 mb-4 mb-lg-0">
        <div class="portfolio-item">
          <a class="portfolio-link" data-toggle="modal" href="#portfolioModal4">
            <div class="portfolio-hover">
              <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
            </div>
            {{ content.field_portfolio_img4 }}
          </a>
          <div class="portfolio-caption">
            <div class="portfolio-caption-heading">{{ content.field_lines }}</div>
            <div class="portfolio-caption-subheading text-muted">{{ content.field_branding }}</div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 mb-4 mb-sm-0">
        <div class="portfolio-item">
          <a class="portfolio-link" data-toggle="modal" href="#portfolioModal5">
            <div class="portfolio-hover">
              <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
            </div>
            {{ content.field_portfolio_img5 }}
          </a>
          <div class="portfolio-caption">
            <div class="portfolio-caption-heading">{{ content.field_southwest }}</div>
            <div class="portfolio-caption-subheading text-muted">{{ content.field_website_design }}</div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6">
        <div class="portfolio-item">
          <a class="portfolio-link" data-toggle="modal" href="#portfolioModal6">
            <div class="portfolio-hover">
              <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
            </div>
            {{ content.field_portfolio_img6 }}
          </a>
          <div class="portfolio-caption">
            <div class="portfolio-caption-heading">{{ content.field_window }}</div>
            <div class="portfolio-caption-subheading text-muted">{{ content.field_photography }}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>