<li class="{{paragraph.index}}">
  <div class="timeline-image">
    {{ content.field_about_icon }}
  </div>
  <div class="timeline-panel">
    <div class="timeline-heading">
      <h4>{{ content.field_about_heading1 }}</h4>
      <h4 class="subheading">{{ content.field_about_subheading1 }}</h4>
    </div>
    <div class="timeline-body">
      <p class="text-muted">{{ content.field_about_description1 }}</p>
    </div>
  </div>
</li>
