<section class="page-section bg-light" id="team">
  <div class="container">
    <div class="text-center">
      <h2 class="section-heading text-uppercase">{{ content.field_amazing_heading }}</h2>
      <h3 class="section-subheading text-muted">{{ content.field_amazing_subheading }}</h3>
    </div>
    <div class="row">
      <div class="col-lg-4">
        <div class="team-member">
          {{ content.field_amazing_image1 }}
          <h4>{{ content.field_amazing_title1 }}</h4>
          <p class="text-muted">{{ content.field_amazing_subtitle1 }}</p>
          <a class="btn btn-dark btn-social mx-2" href="#!"><i class="fab fa-twitter"></i></a>
          <a class="btn btn-dark btn-social mx-2" href="#!"><i class="fab fa-facebook-f"></i></a>
          <a class="btn btn-dark btn-social mx-2" href="#!"><i class="fab fa-linkedin-in"></i></a>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="team-member">
          {{ content.field_amazing_image2 }}
          <h4>{{ content.field_amazing_title2 }}</h4>
          <p class="text-muted">{{ content.field_amazing_subtitle2 }}</p>
          <a class="btn btn-dark btn-social mx-2" href="#!"><i class="fab fa-twitter"></i></a>
          <a class="btn btn-dark btn-social mx-2" href="#!"><i class="fab fa-facebook-f"></i></a>
          <a class="btn btn-dark btn-social mx-2" href="#!"><i class="fab fa-linkedin-in"></i></a>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="team-member">
          {{ content.field_amazing_image3 }}
          <h4>{{ content.field_amazing_title3 }}</h4>
          <p class="text-muted">{{ content.field_amazing_subtitle3 }}</p>
          <a class="btn btn-dark btn-social mx-2" href="#!"><i class="fab fa-twitter"></i></a>
          <a class="btn btn-dark btn-social mx-2" href="#!"><i class="fab fa-facebook-f"></i></a>
          <a class="btn btn-dark btn-social mx-2" href="#!"><i class="fab fa-linkedin-in"></i></a>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-8 mx-auto text-center">
        <p class="large text-muted">{{ content.field_amazing_bottom_text }}</p>
      </div>
    </div>
  </div>
</section>
